{% raw %}

<script id="template-restaurant-list" type="text/x-handlebars-template">
    <div class="restaurants">
        {{#each restaurants }}
            <div class="restaurant" data-id="{{ this._id }}">
            	<div class="name">{{ this.name }}</div>
            	<div class="address">{{ this.description }}</div>
            </div>
        {{/each}}
    </div>
</script>

<script id="template-google-restaurant-list" type="text/x-handlebars-template">
    <div class="google-results">
        {{#each data }}
            <div class="google-restaurant" data-reference="{{ this.reference }}" data-name="{{ this.name }}" data-address="{{ this.formatted_address }}" data-lat="{{ this.geometry.location.jb }}" data-lon="{{ this.geometry.location.kb }}">
            	<div class="name">{{ this.name }}</div>
            	<div class="address">{{ this.formatted_address }}</div>
            </div>
        {{/each}}
    </div>
</script>

<script id="template-meal-list" type="text/x-handlebars-template">
    <div class="meals">
        {{#each meals}}
        <div class="meal-container">
            <div class="meal">
                <form class="save-meal" data-id="{{this._id}}">
                    <fieldset>
                        <input type="text" value="{{ this.name }}" id="name" placeholder="new meal" />
                        <textarea rows="3" id="description" placeholder="description...">{{ this.description }}</textarea>
                        <input type="text" value="{{ this.price }}" id="price" placeholder="$9.95" />
                        <sp></sp>
                        <div class="row-fluid">
                            <div class="span2">Healthy</div>
                            <div class="span8"></div>
                            <div class="span2">Greesy</div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12"><input id="health" type="range"  min="0" max="100" value="{{ this.health }}" /></div>
                        </div>
                        <sp></sp>
                        <div class="row-fluid">
                            <div class="span6">
                                Gluten free <input id="gluten-free" type="checkbox" {{#if this.ingredients.gluten_free}}checked{{/if}}>
                            </div>
                            <div class="span6">
                                Dairy free <input id="dairy-free" type="checkbox" {{#if this.ingredients.dairy_free}}checked{{/if}}>
                            </div>
                        </div>
                        <br><br>
                        <div class="row-fluid">
                            <div class="span6">
                                Peanut free <input id="peanut-free" type="checkbox" {{#if this.ingredients.peanut_free}}checked{{/if}}>
                            </div>
                            <div class="span6">
                                Meat free <input id="meat-free" type="checkbox" {{#if this.ingredients.meat_free}}checked{{/if}}>
                            </div>
                        </div>
                        <br><br>
                        <div class="row-fluid">
                            <div class="span6">
                                Vegan <input id="is-vegan" type="checkbox" {{#if this.ingredients.vegan}}checked{{/if}}>
                            </div>
                        </div>
                        <sp></sp>
                        <br>
                        <div class="row-fluid">
                            <button id="save-meal" class="span8 btn">save</button>
                            <button class="delete-meal span4 btn btn-danger">delete</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</script>



{% endraw %}